body{
    margin:0px;
    padding:0px;
    
}
.containers{
    margin-left:13%;
}
.header-strip{
    background-color: #fda401;
    width:100%;
    height:35px;
}
.dot{
    padding:5px;
    margin-left:10%;
    color: white;
}

.number{
    margin-left:10px;
    margin-bottom:-20px;
}
.icon1{
    margin-left:5%;
}
.change{
    margin-top:2%;
}
.cover{
    margin-top:-20px;
    background-image: url("img/rawpixel-587848-unsplash.jpg");
    width:100%;
    height:200px;

    box-shadow:inset 1px black;
    
}
.bg-parallax{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /*only can be used in css not in html imgsrc*/
    background-attachment: fixed;
}

.img-overlay{
    position:relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:200px;
    background: rgba(0, 0, 0, 0.8);
}

.something{
    position:absolute;
    margin-top:3%;
    
}
.blog-text{
    font-family: nunito;
    color:#fda401;
    font-size:40px;
    
}
.blogs-text{
    font-family: nunito;
    color:white;
    font-size:40px;
}
.same-section{
    width:1000px;
}
.add{
    border:none;
    position:absolute;    
    background-color: #fda401;
    width:50px;
    height:5px;
    border-radius: 25px;
    margin-top:10px;
    
}
.text{
    font-family: nunito;
    position: absolute;
    font-size:20px;
    color:white;
    margin-left:60px;
    
}
.section2{
    
    background: #ecf5f6;
    width:100%;
    height:1200px;
    
}
.cards{
    margin-left:10%;
    box-shadow:2px 2px #aaa;
}
.contain{
    margin-top:10%;
    margin-left:3%;
    background: white;
    padding:0px;
    height:500px;
    box-shadow:2px 2px #aaa;
}
.big-container{
    margin:0px;
    padding:0px;
    height:230px;
    background: url("img/img3phone.jpg");
    
    
}



all{
    position: absolute;
    background:white;
    margin-left:5px;
    width:53px;
    height:0.8px;
    margin-top:5px;
    
}
.row{
    margin-top:40px;
}
.image1{
    float:left;
    margin-top:10px;
    opacity:0.7;
    
}

.clearfix:after{
    content:"";
    clear:both;
    display:block;
    
}
.para1{
    font-family: "Poppins";
    font-size:1em;
    margin-top:28px;
}
.para2{
    font-family: "Poppins";
    font-size:1em;
    margin-top:20px;
    margin-bottom:20px;
}
.designers{
    margin-top:78px;
}
.para3{
    font-family: "Poppins";
    font-size:17px;
    font-weight: bold;
    margin-top:15px;
}